@CHARSET "ISO-8859-1";

.legend {
    margin-left: 10px;
    margin-top: 10px;
}

.legend .title {
    display: block;
    margin-bottom: 0.5em;
    line-height: 1.2em;
    padding: 0 0.3em;
 	font-family:arial;
}

.legend .color-sample {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    border: 2px solid rgba(0, 0, 255, 0.3);
    margin-right: 0.5em;
    font: arial;
}

body{
	font-family: arial;
}

.logo {
    display: block;
	margin-top:5px;
	margin-left:5px;
    width: 228px;
    height: 33px;
    text-indent: -99999px;
	background: url('../imagens/logo.png') no-repeat;
}

