<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="fcontrol-perfmon-graph">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources/development"/>
        <dependent-module archiveName="fcontrol-perfmon-core-1.0.0.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/fcontrol-perfmon-core/fcontrol-perfmon-core">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="fcontrol-perfmon-graph"/>
        <property name="java-output-path" value="/fcontrol-perfmon-graph/target/classes"/>
    </wb-module>
</project-modules>
